//静态
.img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}
//动态
.img_animate{
    animation: scale 10s infinite;
}
@keyframes scale{
    50%{
        transform:scale(1.3)
    }
    100%{
        transform:scale(1)
    }
}
