.flexContainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.content{
    height: calc(100vh - 80px);
    overflow: auto;
    position: relative;
    .aside{
        position: absolute;
        width: 50px;
        height: 100%;
        left: 0;
        top: 0;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .main{
        height: 100%;
        padding: 0 0 0 50px;
        .tabsHd{
            border: 1px solid;
            display: flex;
            .hd{
                background: #eee;
                &+.hd{
                    margin-left: 10px;
                }
                &.active{
                    background: #5deaea;
                }
            }
        }
        .tabsBd{

        }
    }
}
