{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-react",
    ],
    "plugins": [
        [
            "@babel/plugin-transform-runtime",
            {
                "helpers": false, 
                "regenerator": true 
            }
        ],
        "react-hot-loader/babel",
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        "dynamic-import-webpack",
        "@babel/plugin-proposal-class-properties"
    ]
}